# 欠測値処理の実習

次は、釜山(プサン)のどの区域の公園の水質現況表(検査日:2015年11月5日)だ.

- データファイル:ch2-1(水質の現況).csv

In [35]:
import pandas as pd

In [36]:
# encoding = 'utf-8' or 'CP949' => Encoding Error or UnicodeError
# engine = 'python' => OSerror
data = pd.read_csv('data/ch2-1(약수터수질현황).csv', engine='python', encoding='CP949')
data.head()

   연번 약수터명  동명 총대장균군  일반세균  질산성질소   적합
0   1   백수  모라   양 성  10.0    6.7  부적합
1   2   이칠  모라   음 성  20.0    0.9   적합
2   3  운수사  모라   음 성  10.0    1.1   적합
3   4  서당골  모라   음 성  10.0    NaN   적합
4   5   청수  괘법   음 성  20.0    2.7   적합

In [37]:
data

    연번  약수터명  동명 총대장균군   일반세균  질산성질소   적합
0    1    백수  모라   양 성   10.0    6.7  부적합
1    2    이칠  모라   음 성   20.0    0.9   적합
2    3   운수사  모라   음 성   10.0    1.1   적합
3    4   서당골  모라   음 성   10.0    NaN   적합
4    5    청수  괘법   음 성   20.0    2.7   적합
5    6    사상  괘법   음 성   10.0    2.2   적합
6    7    탑골  괘법   양 성   10.0    2.6  부적합
7    8   삼각산  괘법   음 성   10.0    2.7   적합
8    9    괘내  괘법   음 성   20.0    3.1   적합
9   10  황씨묘위  감전   음 성   10.0    3.1   적합
10  11  체육공원  감전   음 성   20.0    4.0   적합
11  12    건강  주례   음 성   10.0    1.8   적합
12  13   백양골  주례   양 성   10.0    2.8  부적합
13  14   백양정  주례   음 성   10.0    7.5   적합
14  15   승록정  주례   음 성   20.0    2.3  부적합
15  16    복천  주례   음 성   20.0    2.4   적합
16  17    밤골  주례   음 성    NaN    NaN   적합
17  18   삼운정  주례   음 성   20.0    3.8   적합
18  19    무명  주례   음 성  110.0    0.7  부적합
19  20    승학  학장   양 성    NaN    0.3  부적합
20  21    거북  학장   음 성   20.0    1.0   적합
21  22    백련  엄궁   양 성   40.0    1.9  부적합
22  23    불심  엄궁   음 성   20.0    1.7   적합
23  24    승학  엄궁   음 성   20.0    2.6   적합

## 1) ギョルチュクチがあるレコードを削除

- 欠測値を確認
- 一つでもあるデータを削除
- すべての値が欠測値のデータを削除

In [38]:
# Columnの欠測値の数 : .isnull.sum()
data.isnull().sum()

연번       0
약수터명     0
동명       0
총대장균군    0
일반세균     2
질산성질소    2
적합       0
dtype: int64

In [39]:
# 欠測値のあるRowだけを残して照会する: .isnull()。any(axis=1)
data[data.isnull().any(axis=1)]

    연번 약수터명  동명 총대장균군  일반세균  질산성질소   적합
3    4  서당골  모라   음 성  10.0    NaN   적합
16  17   밤골  주례   음 성   NaN    NaN   적합
19  20   승학  학장   양 성   NaN    0.3  부적합

In [40]:
# 欠測値のあるRowのインデックスの番号だけを抽出する。
nan_idx = data[data.isnull().any(axis=1)].index
nan_idx

Int64Index([3, 16, 19], dtype='int64')

In [41]:
#一つでも欠測値があるレコードを削除 : .dropna()
# data : 24 x 7
# 21 x 7
data.dropna()

    연번  약수터명  동명 총대장균군   일반세균  질산성질소   적합
0    1    백수  모라   양 성   10.0    6.7  부적합
1    2    이칠  모라   음 성   20.0    0.9   적합
2    3   운수사  모라   음 성   10.0    1.1   적합
4    5    청수  괘법   음 성   20.0    2.7   적합
5    6    사상  괘법   음 성   10.0    2.2   적합
6    7    탑골  괘법   양 성   10.0    2.6  부적합
7    8   삼각산  괘법   음 성   10.0    2.7   적합
8    9    괘내  괘법   음 성   20.0    3.1   적합
9   10  황씨묘위  감전   음 성   10.0    3.1   적합
10  11  체육공원  감전   음 성   20.0    4.0   적합
11  12    건강  주례   음 성   10.0    1.8   적합
12  13   백양골  주례   양 성   10.0    2.8  부적합
13  14   백양정  주례   음 성   10.0    7.5   적합
14  15   승록정  주례   음 성   20.0    2.3  부적합
15  16    복천  주례   음 성   20.0    2.4   적합
17  18   삼운정  주례   음 성   20.0    3.8   적합
18  19    무명  주례   음 성  110.0    0.7  부적합
20  21    거북  학장   음 성   20.0    1.0   적합
21  22    백련  엄궁   양 성   40.0    1.9  부적합
22  23    불심  엄궁   음 성   20.0    1.7   적합
23  24    승학  엄궁   음 성   20.0    2.6   적합

In [42]:
# 削除確認:.dropna().isnull().sum()
data.dropna().isnull().sum()

연번       0
약수터명     0
동명       0
총대장균군    0
일반세균     0
질산성질소    0
적합       0
dtype: int64

In [43]:
# すべての値が欠測値のレコードを削除: .dropna(how='all')
# data(全体):7つのColumnが全部ギョルチュクチのユヒョンマン削除する.
data.dropna(how='all')

    연번  약수터명  동명 총대장균군   일반세균  질산성질소   적합
0    1    백수  모라   양 성   10.0    6.7  부적합
1    2    이칠  모라   음 성   20.0    0.9   적합
2    3   운수사  모라   음 성   10.0    1.1   적합
3    4   서당골  모라   음 성   10.0    NaN   적합
4    5    청수  괘법   음 성   20.0    2.7   적합
5    6    사상  괘법   음 성   10.0    2.2   적합
6    7    탑골  괘법   양 성   10.0    2.6  부적합
7    8   삼각산  괘법   음 성   10.0    2.7   적합
8    9    괘내  괘법   음 성   20.0    3.1   적합
9   10  황씨묘위  감전   음 성   10.0    3.1   적합
10  11  체육공원  감전   음 성   20.0    4.0   적합
11  12    건강  주례   음 성   10.0    1.8   적합
12  13   백양골  주례   양 성   10.0    2.8  부적합
13  14   백양정  주례   음 성   10.0    7.5   적합
14  15   승록정  주례   음 성   20.0    2.3  부적합
15  16    복천  주례   음 성   20.0    2.4   적합
16  17    밤골  주례   음 성    NaN    NaN   적합
17  18   삼운정  주례   음 성   20.0    3.8   적합
18  19    무명  주례   음 성  110.0    0.7  부적합
19  20    승학  학장   양 성    NaN    0.3  부적합
20  21    거북  학장   음 성   20.0    1.0   적합
21  22    백련  엄궁   양 성   40.0    1.9  부적합
22  23    불심  엄궁   음 성   20.0    1.7   적합
23  24    승학  엄궁   음 성   20.0    2.6   적합

In [44]:
# 二つのColumn('、一般細菌'、'窒酸性窒素')が欠測値のRowを削除する。 二重のリストでまとめて[], dropna(how='all')
# 全体DataFrameにすぐ適用できない
data[['일반세균', '질산성질소']].dropna(how='all')

     일반세균  질산성질소
0    10.0    6.7
1    20.0    0.9
2    10.0    1.1
3    10.0    NaN
4    20.0    2.7
5    10.0    2.2
6    10.0    2.6
7    10.0    2.7
8    20.0    3.1
9    10.0    3.1
10   20.0    4.0
11   10.0    1.8
12   10.0    2.8
13   10.0    7.5
14   20.0    2.3
15   20.0    2.4
17   20.0    3.8
18  110.0    0.7
19    NaN    0.3
20   20.0    1.0
21   40.0    1.9
22   20.0    1.7
23   20.0    2.6

In [45]:
# '一般細菌', '硝酸性酸素' Columnをコピー.
tmp = data[['일반세균', '질산성질소']].copy()
# 一つでも欠測のあるレコードを持ってくる:条件索引の使用
tmp[tmp.isnull().any(axis=1)]

    일반세균  질산성질소
3   10.0    NaN
16   NaN    NaN
19   NaN    0.3

In [46]:
# すべての値が欠測のあるレコードを持ってくる
tmp[tmp.isnull().all(axis=1)]

    일반세균  질산성질소
16   NaN    NaN

In [47]:
# drop(idx/col、axis=0(row削除)、1(columns削除))
data.drop(16, axis=0)

    연번  약수터명  동명 총대장균군   일반세균  질산성질소   적합
0    1    백수  모라   양 성   10.0    6.7  부적합
1    2    이칠  모라   음 성   20.0    0.9   적합
2    3   운수사  모라   음 성   10.0    1.1   적합
3    4   서당골  모라   음 성   10.0    NaN   적합
4    5    청수  괘법   음 성   20.0    2.7   적합
5    6    사상  괘법   음 성   10.0    2.2   적합
6    7    탑골  괘법   양 성   10.0    2.6  부적합
7    8   삼각산  괘법   음 성   10.0    2.7   적합
8    9    괘내  괘법   음 성   20.0    3.1   적합
9   10  황씨묘위  감전   음 성   10.0    3.1   적합
10  11  체육공원  감전   음 성   20.0    4.0   적합
11  12    건강  주례   음 성   10.0    1.8   적합
12  13   백양골  주례   양 성   10.0    2.8  부적합
13  14   백양정  주례   음 성   10.0    7.5   적합
14  15   승록정  주례   음 성   20.0    2.3  부적합
15  16    복천  주례   음 성   20.0    2.4   적합
17  18   삼운정  주례   음 성   20.0    3.8   적합
18  19    무명  주례   음 성  110.0    0.7  부적합
19  20    승학  학장   양 성    NaN    0.3  부적합
20  21    거북  학장   음 성   20.0    1.0   적합
21  22    백련  엄궁   양 성   40.0    1.9  부적합
22  23    불심  엄궁   음 성   20.0    1.7   적합
23  24    승학  엄궁   음 성   20.0    2.6   적합

In [48]:
data.shape

(24, 7)

## 2) 任意の値を使用して欠測値を代替する

In [49]:
#欠測値(NaN値)を0に代替する。
data2 = data.fillna(0)

In [50]:
data2

    연번  약수터명  동명 총대장균군   일반세균  질산성질소   적합
0    1    백수  모라   양 성   10.0    6.7  부적합
1    2    이칠  모라   음 성   20.0    0.9   적합
2    3   운수사  모라   음 성   10.0    1.1   적합
3    4   서당골  모라   음 성   10.0    0.0   적합
4    5    청수  괘법   음 성   20.0    2.7   적합
5    6    사상  괘법   음 성   10.0    2.2   적합
6    7    탑골  괘법   양 성   10.0    2.6  부적합
7    8   삼각산  괘법   음 성   10.0    2.7   적합
8    9    괘내  괘법   음 성   20.0    3.1   적합
9   10  황씨묘위  감전   음 성   10.0    3.1   적합
10  11  체육공원  감전   음 성   20.0    4.0   적합
11  12    건강  주례   음 성   10.0    1.8   적합
12  13   백양골  주례   양 성   10.0    2.8  부적합
13  14   백양정  주례   음 성   10.0    7.5   적합
14  15   승록정  주례   음 성   20.0    2.3  부적합
15  16    복천  주례   음 성   20.0    2.4   적합
16  17    밤골  주례   음 성    0.0    0.0   적합
17  18   삼운정  주례   음 성   20.0    3.8   적합
18  19    무명  주례   음 성  110.0    0.7  부적합
19  20    승학  학장   양 성    0.0    0.3  부적합
20  21    거북  학장   음 성   20.0    1.0   적합
21  22    백련  엄궁   양 성   40.0    1.9  부적합
22  23    불심  엄궁   음 성   20.0    1.7   적합
23  24    승학  엄궁   음 성   20.0    2.6   적합

In [51]:
nan_idx

Int64Index([3, 16, 19], dtype='int64')

In [52]:
data2.iloc[nan_idx]

    연번 약수터명  동명 총대장균군  일반세균  질산성질소   적합
3    4  서당골  모라   음 성  10.0    0.0   적합
16  17   밤골  주례   음 성   0.0    0.0   적합
19  20   승학  학장   양 성   0.0    0.3  부적합

## 3) データの平均値を使用して欠測値代替

In [53]:
# 欠測値(NULL値)をデータの平均値に置き換える。
# 全データの属性のタイプを確認し、数字データに対する平均値を使用する。
# 一般細菌、硝酸性...
# df.select_dtypes(include=特定タイプ) # int/float/object
# df._get_numeric_data()
data._get_numeric_data()

    연번   일반세균  질산성질소
0    1   10.0    6.7
1    2   20.0    0.9
2    3   10.0    1.1
3    4   10.0    NaN
4    5   20.0    2.7
5    6   10.0    2.2
6    7   10.0    2.6
7    8   10.0    2.7
8    9   20.0    3.1
9   10   10.0    3.1
10  11   20.0    4.0
11  12   10.0    1.8
12  13   10.0    2.8
13  14   10.0    7.5
14  15   20.0    2.3
15  16   20.0    2.4
16  17    NaN    NaN
17  18   20.0    3.8
18  19  110.0    0.7
19  20    NaN    0.3
20  21   20.0    1.0
21  22   40.0    1.9
22  23   20.0    1.7
23  24   20.0    2.6

In [54]:
avg1 = tmp.fillna(0).values.mean()

In [55]:
avg1

10.58125

In [89]:
# 平均値でdata変数の欠測値を満たした後、欠測値があったRowだけを照会。
data.fillna(avg1).iloc[nan_idx]

    연번 약수터명  동명 총대장균군       일반세균      질산성질소   적합
3    4  서당골  모라   음 성  10.000000  20.454545   적합
16  17   밤골  주례   음 성  20.454545  20.454545   적합
19  20   승학  학장   양 성  20.454545   0.300000  부적합

## 4) 欠測値が属したClassの属性の平均値を使用して欠測値を代替する。

In [90]:
data3 = data.copy()

In [92]:
#一般細菌がnullのRowだけを選んで出力。
data['일반세균'][data['일반세균'].isnull()]

16   NaN
19   NaN
Name: 일반세균, dtype: float64

In [93]:
# 一般細菌Columnの平均.
avg1 = data3['일반세균'].mean()
avg1

20.454545454545453

In [95]:
# 一般細菌のColumnの欠測値をavg1で埋めてdata3に永久的に保存。
data3['일반세균'].fillna(avg1, inplace=True)
data3

    연번  약수터명  동명 총대장균군        일반세균  질산성질소   적합
0    1    백수  모라   양 성   10.000000    6.7  부적합
1    2    이칠  모라   음 성   20.000000    0.9   적합
2    3   운수사  모라   음 성   10.000000    1.1   적합
3    4   서당골  모라   음 성   10.000000    NaN   적합
4    5    청수  괘법   음 성   20.000000    2.7   적합
5    6    사상  괘법   음 성   10.000000    2.2   적합
6    7    탑골  괘법   양 성   10.000000    2.6  부적합
7    8   삼각산  괘법   음 성   10.000000    2.7   적합
8    9    괘내  괘법   음 성   20.000000    3.1   적합
9   10  황씨묘위  감전   음 성   10.000000    3.1   적합
10  11  체육공원  감전   음 성   20.000000    4.0   적합
11  12    건강  주례   음 성   10.000000    1.8   적합
12  13   백양골  주례   양 성   10.000000    2.8  부적합
13  14   백양정  주례   음 성   10.000000    7.5   적합
14  15   승록정  주례   음 성   20.000000    2.3  부적합
15  16    복천  주례   음 성   20.000000    2.4   적합
16  17    밤골  주례   음 성   20.454545    NaN   적합
17  18   삼운정  주례   음 성   20.000000    3.8   적합
18  19    무명  주례   음 성  110.000000    0.7  부적합
19  20    승학  학장   양 성   20.454545    0.3  부적합
20  21    거북  학장   음 성   20.000000    1.0   적합
21  22    백련  엄궁   양 성   40.000000    1.9  부적합
22  23    불심  엄궁   음 성   20.000000    1.7   적합
23  24    승학  엄궁   음 성   20.000000    2.6   적합

In [87]:
data3['일반세균'].iloc[[16, 19]]

16    20.454545
19    20.454545
Name: 일반세균, dtype: float64

In [96]:
# data3のDataFrameの16、19のColumnだけを選んで出力。
data3['질산성질소'][data['질산성질소'].isnull()]

3    NaN
16   NaN
Name: 질산성질소, dtype: float64

In [98]:
avg2 = data3['질산성질소'].mean()
avg2

2.631818181818182

In [99]:
data3['질산성질소'].fillna(avg2, inplace=True)

In [65]:
data3['질산성질소'].iloc[[3, 16]]

3     2.631818
16    2.631818
Name: 질산성질소, dtype: float64

In [100]:
#適合というColumnの値が不適合という資料だけを出力する.
data[data['적합'] == '부적합']

    연번 약수터명  동명 총대장균군   일반세균  질산성질소   적합
0    1   백수  모라   양 성   10.0    6.7  부적합
6    7   탑골  괘법   양 성   10.0    2.6  부적합
12  13  백양골  주례   양 성   10.0    2.8  부적합
14  15  승록정  주례   음 성   20.0    2.3  부적합
18  19   무명  주례   음 성  110.0    0.7  부적합
19  20   승학  학장   양 성    NaN    0.3  부적합
21  22   백련  엄궁   양 성   40.0    1.9  부적합

In [101]:
# 적합 컬럼이 적합인 자료만 모아보기
data[data['적합'] == '적합']

    연번  약수터명  동명 총대장균군  일반세균  질산성질소  적합
1    2    이칠  모라   음 성  20.0    0.9  적합
2    3   운수사  모라   음 성  10.0    1.1  적합
3    4   서당골  모라   음 성  10.0    NaN  적합
4    5    청수  괘법   음 성  20.0    2.7  적합
5    6    사상  괘법   음 성  10.0    2.2  적합
7    8   삼각산  괘법   음 성  10.0    2.7  적합
8    9    괘내  괘법   음 성  20.0    3.1  적합
9   10  황씨묘위  감전   음 성  10.0    3.1  적합
10  11  체육공원  감전   음 성  20.0    4.0  적합
11  12    건강  주례   음 성  10.0    1.8  적합
13  14   백양정  주례   음 성  10.0    7.5  적합
15  16    복천  주례   음 성  20.0    2.4  적합
16  17    밤골  주례   음 성   NaN    NaN  적합
17  18   삼운정  주례   음 성  20.0    3.8  적합
20  21    거북  학장   음 성  20.0    1.0  적합
22  23    불심  엄궁   음 성  20.0    1.7  적합
23  24    승학  엄궁   음 성  20.0    2.6  적합

In [102]:
# 適合の有無別に属性星の平均値を求め、欠測値を代替
# groupby() : 範疇型データについて集計基準を設定
data4 = data.copy()

In [106]:
# 適合のColumnを基準に集計した「一般細菌」dの平均
avg3 = data4.groupby('적합')['일반세균'].mean()
avg3

적합
부적합    33.333333
적합     15.625000
Name: 일반세균, dtype: float64

In [107]:
# pivot_table 使用
data4.pivot_table(index='적합', values='일반세균', aggfunc='mean')

          일반세균
적합
부적합  33.333333
적합   15.625000

In [108]:
# avg3の0番目は不適合の平均、1番目は適合の平均
print(avg3[0], avg3[1])

33.333333333333336 15.625

In [111]:
# 適合には適合平均、不適合には不適合平均大学入試
data4['일반세균'][data4['적합']=='적합'] = data4['일반세균'][data4['적합']=='적합'].fillna(avg3[1])

C:\Users\dltjs\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [112]:
data4['일반세균'][data4['적합']=='부적합'] = data4['일반세균'][data4['적합']=='부적합'].fillna(avg3[0])

C:\Users\dltjs\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [113]:
data4

    연번  약수터명  동명 총대장균군        일반세균  질산성질소   적합
0    1    백수  모라   양 성   10.000000    6.7  부적합
1    2    이칠  모라   음 성   20.000000    0.9   적합
2    3   운수사  모라   음 성   10.000000    1.1   적합
3    4   서당골  모라   음 성   10.000000    NaN   적합
4    5    청수  괘법   음 성   20.000000    2.7   적합
5    6    사상  괘법   음 성   10.000000    2.2   적합
6    7    탑골  괘법   양 성   10.000000    2.6  부적합
7    8   삼각산  괘법   음 성   10.000000    2.7   적합
8    9    괘내  괘법   음 성   20.000000    3.1   적합
9   10  황씨묘위  감전   음 성   10.000000    3.1   적합
10  11  체육공원  감전   음 성   20.000000    4.0   적합
11  12    건강  주례   음 성   10.000000    1.8   적합
12  13   백양골  주례   양 성   10.000000    2.8  부적합
13  14   백양정  주례   음 성   10.000000    7.5   적합
14  15   승록정  주례   음 성   20.000000    2.3  부적합
15  16    복천  주례   음 성   20.000000    2.4   적합
16  17    밤골  주례   음 성   15.625000    NaN   적합
17  18   삼운정  주례   음 성   20.000000    3.8   적합
18  19    무명  주례   음 성  110.000000    0.7  부적합
19  20    승학  학장   양 성   33.333333    0.3  부적합
20  21    거북  학장   음 성   20.000000    1.0   적합
21  22    백련  엄궁   양 성   40.000000    1.9  부적합
22  23    불심  엄궁   음 성   20.000000    1.7   적합
23  24    승학  엄궁   음 성   20.000000    2.6   적합

In [115]:
avg4 = data4.groupby('적합')['질산성질소'].mean()
avg4

적합
부적합    2.471429
적합     2.706667
Name: 질산성질소, dtype: float64

In [76]:
# avg4の0番目は不適合の平均、1番目は適合の平均
print(avg4[0], avg4[1])

2.4714285714285715 2.7066666666666666

In [77]:
# 適合には適合平均を代入する
data4['질산성질소'][data4['적합']=='적합'] = data4['질산성질소'][data4['적합']=='적합'].fillna(avg4[1])

C:\Users\dltjs\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [78]:
#不適合には不適合平均を代入する
data4['질산성질소'][data4['적합']=='부적합'] = data4['질산성질소'][data4['적합']=='부적합'].fillna(avg4[0])

C:\Users\dltjs\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [79]:
data4

    연번  약수터명  동명 총대장균군        일반세균     질산성질소   적합
0    1    백수  모라   양 성   10.000000  6.700000  부적합
1    2    이칠  모라   음 성   20.000000  0.900000   적합
2    3   운수사  모라   음 성   10.000000  1.100000   적합
3    4   서당골  모라   음 성   10.000000  2.706667   적합
4    5    청수  괘법   음 성   20.000000  2.700000   적합
5    6    사상  괘법   음 성   10.000000  2.200000   적합
6    7    탑골  괘법   양 성   10.000000  2.600000  부적합
7    8   삼각산  괘법   음 성   10.000000  2.700000   적합
8    9    괘내  괘법   음 성   20.000000  3.100000   적합
9   10  황씨묘위  감전   음 성   10.000000  3.100000   적합
10  11  체육공원  감전   음 성   20.000000  4.000000   적합
11  12    건강  주례   음 성   10.000000  1.800000   적합
12  13   백양골  주례   양 성   10.000000  2.800000  부적합
13  14   백양정  주례   음 성   10.000000  7.500000   적합
14  15   승록정  주례   음 성   20.000000  2.300000  부적합
15  16    복천  주례   음 성   20.000000  2.400000   적합
16  17    밤골  주례   음 성   15.625000  2.706667   적합
17  18   삼운정  주례   음 성   20.000000  3.800000   적합
18  19    무명  주례   음 성  110.000000  0.700000  부적합
19  20    승학  학장   양 성   33.333333  0.300000  부적합
20  21    거북  학장   음 성   20.000000  1.000000   적합
21  22    백련  엄궁   양 성   40.000000  1.900000  부적합
22  23    불심  엄궁   음 성   20.000000  1.700000   적합
23  24    승학  엄궁   음 성   20.000000  2.600000   적합